<div class="center jumbotron">
  Hello buddy,<br />
  this web app has two pages:
  <%= link_to 'Welcome page (available for everyone)', root_path, class:"btn btn-lg btn-primary" %>
  and
  <%= link_to 'Inner page (only for authenticated users)', inner_index_path, class:"btn btn-lg btn-primary" %>
</div>